/* Main */
.main-title{
    text-align: center;
    margin: 2%;
}

.director{
    text-align: center;
    margin-bottom: 2%;
}

.director-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.caption-heads{
    text-align: center;
    margin-bottom: 2%;
}

.caption-heads-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 1%;
}

.techs{
    text-align: center;
}

.techs-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 1%;
}